Repository nature-of-code/noc-book-2, pull requests merged in 2019-06, with the labels that each got.

#24 Copying over introduction
  content/00_7_introduction.html
Labels: introduction

#27 updated welcome, copyright, and preface
  content/00_0_welcome.html
  content/00_3_creditscopyright.html
  content/00_5_preface.html
Labels: chapter00

#40 Adds meta info to package.json
  package.json
Labels: devops

#28 [WIP] Updating Vectors section
  content/01_vectors.html
Labels: chp1:vectors

#25 Rewriting Introduction
  content/00_7_introduction.html
Labels: introduction
